body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%!important;
}
html, body {
  overflow: hidden;
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none!important;
    box-shadow: none!important;
}
input::-webkit-file-upload-button {
  visibility: hidden;
}
input[type=file]{
  background-color: #007bff;
  color: white;
  font-size: bold;
 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bg-selected{background-color: #76ff03!important;}
.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; background-color: #32cb00 ; }
html {
  height: 100%;
}
body, #root {
  min-height: 100%;
}

::-webkit-scrollbar {
  background-color: white;
}
.scrollable{
  overflow-x: hidden;
  overflow-y: auto; 
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }
  .table-wrapper-scroll-y * {font-size: 0.9vw;}

  div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  .scrollmenu textarea{
    opacity: 0!important;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
  .opacityPopUpLottieAnimationIntro{

    animation: opacityPopUpLottieAnimationIntro 1s forwards;
  }

@media only screen and (max-width: 3000px) and (min-width: 1000px){
.inputRutContainerPopUp{

  animation: inputRutContainerPopUpPC 1s forwards;

  }
  .social-media{
    width: 100%;
  }
 
}
/*
$posicion: absolute;
$top: 1cm;
#prueba{
  position: $posicion;
  top: $top+0cm;
  background-color: white;
}*/


/*COMPONENTS's ANIMATIONS ACCORDING DEVICE VIEWPORT */
@media all and (max-width: 3000px) {
  .social-media{
    width: 100%;
  }
  .border-0.position-fixed{visibility: hidden;}

  .shadow-lg-custom{
   box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  }
  #lottie-file-loader{
    width: 30%;
    position: relative;
    bottom: 30vh;
    left: 55%;
  }

  .logoDash{
    animation: logoDashPC 1s forwards;} 
    .logoDashReverse {
      animation: logoDashReversePC 1s forwards;}
  .btn-container{
      left: 40%;
    }
  .input-cases-container{
    position: absolute;
    top: 30%;
    left: 40%;
  }
  .floatDown{
      animation: floatDownPC 1.5s forwards;
    }

  @media only all and (min-width: 1000px){
    .social-media{
      width: 100%;
    }   
    .floatUp{
      animation: floatUpPC 2s forwards;
    }
    .d-flex.mt-2.flex-column {
      position: relative;
      left: 48%;
      bottom: 50vh;
    
    }
    #lottie-file-loader{
      left: 75%;
      bottom: 85vh;
    }
  }
  @media only all and (max-width: 1000px) and (orientation: portrait){
    .turnHorizontalAdvisor{
      visibility: visible!important;
    }
    .social-media{
      width: 100%;
    }
   
  }

  @media only all and (max-width: 1000px) and (orientation: landscape){
    .social-media, .btn.btn-secondary{opacity: 0;}
    .turnVerticalAdvisor{
      visibility: visible!important;  
    }
    .ifPhoneDeviceTurnGreen{
      background-color: #1FBF2A!important;
    }
    .pt-5.text-center.align-items-end.center-block  svg, .input-group.mb-3.p-relative , .pt-4.fas.fa-angle-left.text-left{visibility: hidden!important;}
  }
  @media only all and (max-width: 1000px){
    .container-client-panel span{
      font-size: 3vw;
    }
    .border-0.position-fixed{visibility: visible;}
    .container-size{
      height: 40vh!important;
   
    }
    .container-client-panel p{
      font-size: 4vw;
    }
    .container-client-panel h1{
      font-size: 4vw;
    }
    .client-panel *{
      font-size: 10px;

    }
    .floatUp{
      animation: floatUpPhone 2s forwards;

    }
  }
  .backArrow{
    animation: backArrow 2s forwards;
  }
  .backArrow:hover, .backArrow:active{
    color: #1FBF2D;
  }

  .backArrowReverse{
    animation: backArrowReverse 1s forwards;
  }

}
@media only screen and (max-width: 1100px) and (orientation: landscape) {
  .container-size{
    height: 80vh!important;
  }
  .shadow-lg-custom{
    box-shadow: 0 0 0 0;
   }
  .client-panel{
  transform: rotate(0deg)!important;
  margin-left: 2vw!important;
  }
  .badge-success{
    font-size: 2vh!important;
  }
  .container-client-panel span{
    font-size: 3vh;
    overflow: hidden;
  }
  .container-client-panel p{
    font-size: 4vh;
  }
  .container-client-panel b{
    font-size: 3vh;
  }
  .container-client-panel h1{
    font-size: 4vh;
  }
  .bubbles-background svg{display: none}
  body *{box-shadow: none!important;}
  .client-panel{

    transform: rotate(90deg);
    height: 10cm!important;
    width: 100%!important;
    position: fixed!important;
  }

  .horizontal-landscape{
    width: 90vw!important;
    height: 70vh!important;
  }
  .docs-horizontal-landscape{
    width: 100%!important;

  }
  
}
@media all and (max-width: 1000px) and (orientation: portrait){
  .social-media{
    width: 100%;
  }
  .table-wrapper-scroll-y * {
    font-size: 3vw!important;
}
 
  .shadow-lg-custom{
    box-shadow: 0 0 0 0;
   }
  .bubbles-background svg{display: none}
  .client-panel{

    transform: rotate(90deg);
    height: 10cm!important;
    width: 100%!important;
    position: fixed!important;
  }
  

  .horizontal-landscape{
    width: 90vw!important;
    height: 70vh!important;
  }
  .docs-horizontal-landscape{
    width: 100%!important;

  }
  
  #lottie-file-loader{

    width: 30%;
    position: relative;
    bottom: 10vh;
    left: 35%;
  }

  .fas.fa-angle-left{
    font-size: 10vw!important;
  }

  .logoDash {
    animation: logoDashPhone 1s forwards;}
  .logoDashReverse {
      animation: logoDashReversePhone 1s forwards;}
  .floatDown{
      animation: floatDownPhone 1.5s forwards;
    }
  .input-cases-container{
    position: absolute;
    top: 60%;
    left: 10%;
    }

    .backArrowReverse{
      animation: backArrowReverse 1s forwards;
    }
}

@keyframes logoDashPC {
  0%{ right: 0%; }
  100%{ right: 35%; }
}

@-webkit-keyframes logoDashPC {
  0%{ right: 0%; }
  100%{ right: 35%; }
}

@keyframes logoDashPhone {
  0%{ bottom: 0vh; }
  100%{ bottom: 10vh;}
}

@-webkit-keyframes logoDashPhone {
  0%{ bottom: 0vh; }
  100%{ bottom: 10vh;}
}


@keyframes logoDashReversePC {
  0%{ right: 35%; }
  100%{ right: 0%; }
}

@-webkit-keyframes logoDashReversePC {
  0%{ right: 35%; }
  100%{ right: 0%; }
}

@keyframes logoDashReversePhone {
  0%{bottom: 10vh; }
  100%{ bottom: 0vh;}
}

@-webkit-keyframes logoDashReversePhone {
  0%{ bottom: 10vh; }
  100%{ bottom: 0vh; }
}
@keyframes inputRutContainerPopUpPC {
  0% {visibility: visible;opacity: 0; bottom: 50vh;left: 15vw;}
  50% {visibility: visible;opacity: 0;}
  100% {visibility: visible; opacity: 1; bottom: 50vh; left: 15vw;}
}

@-webkit-keyframes inputRutContainerPopUpPC {
  0% {visibility: visible;opacity: 0; bottom: 50vh;left: 15vw;}
  50% {visibility: visible;opacity: 0;}
  100% {visibility: visible; opacity: 1; bottom: 50vh; left: 15vw;}
}

@keyframes floatDownPC {
  0% {visibility: visible;opacity: 0; left: 15vw;}
  40% {visibility: visible;opacity: 0; bottom:50vh}
  100% {visibility: visible; opacity: 1;bottom:45vh; left: 15vw;}
}
@-webkit-keyframes floatDownPC {
  0% {visibility: visible;opacity: 0; left: 15vw;}
  40% {visibility: visible;opacity: 0; bottom:50vh}
  100% {visibility: visible; opacity: 1;bottom:45vh; left: 15vw;}
}

@keyframes floatDownPhone {
  0% {visibility: visible;opacity: 0;}
  40% {visibility: visible;opacity: 0; top:-20%}
  100% {visibility: visible; opacity: 1;top:-10%; }
}
@-webkit-keyframes floatDownPhone {
  0% {visibility: visible;opacity: 0;}
  40% {visibility: visible;opacity: 0; top:-20%}
  100% {visibility: visible; opacity: 1;top:-10%; }
}
@keyframes floatUpPC {
  0% {visibility: visible; opacity: 1;bottom:45vh; left: 15vw;}
  20% {visibility: visible;opacity: 0; bottom:50vh}
  100% {visibility: visible;opacity: 0; left: 15vw;}  
}
@-webkit-keyframes floatUpPC {
  0% {visibility: visible; opacity: 1;bottom:45vh; left: 15vw;}
  20% {visibility: visible;opacity: 0; bottom:50vh}
  100% {visibility: visible;opacity: 0; left: 15vw;}
}
@keyframes floatUpPhone {
  0% {visibility: visible; opacity: 1;top:-10%; }
  40% {visibility: visible;opacity: 0; top:-20%}
  100% {visibility: visible;opacity: 0;}
  
}
@-webkit-keyframes floatUpPhone {
  0% {visibility: visible; opacity: 1;top:-10%; }
  40% {visibility: visible;opacity: 0; top:-20%}
  100% {visibility: visible;opacity: 0;}
}

@keyframes backArrow {
  0%{ opacity: 0; transform: rotate(90deg);  }
  70%{ opacity: 0; transform: rotate(90deg); }
  100%{ opacity:1; transform: rotate(0deg); }
}

@-webkit-keyframes backArrow {
  0%{ opacity: 0; transform: rotate(90deg);  }
  70%{ opacity: 0; transform: rotate(90deg); }
  100%{ opacity:1; transform: rotate(0deg); }
}

@keyframes backArrowReverse {
  0%{ opacity: 1; transform: rotate(0deg);  }
  70%{ opacity: 1; transform: rotate(90deg); }
  100%{ opacity:0; transform: rotate(90deg); }
}

@-webkit-keyframes backArrowReverse {
  0%{ opacity: 1; transform: rotate(0deg);  }
  70%{ opacity: 1; transform: rotate(90deg); }
  100%{ opacity:0; transform: rotate(90deg); }
}

@keyframes whyUsRotation {// esta es la animacion de  al WhyUS 
 0%{transform: rotateY(0);}
 10%{transform: rotateY(180deg);}
 20%{transform: rotateY(180deg);}
 25%{transform: rotateY(360deg);}
 25%{transform: rotateY(360deg);}
 30%{transform: rotateY(540deg);}
 30%{transform: rotateY(540deg);}
 35%{transform: rotateY(720deg);}
 35%{transform: rotateY(720deg);}
 40%{transform: rotateY(900deg);}
 60%{transform: rotateY(900deg);}
 70%{transform: rotateY(1080deg);}
 100%{transform: rotateY(1080deg);}
}
@-webkit-keyframes whyUsRotation {
  0%{transform: rotateY(0);}
  10%{transform: rotateY(180deg);}
  20%{transform: rotateY(180deg);}
  25%{transform: rotateY(360deg);}
  25%{transform: rotateY(360deg);}
  30%{transform: rotateY(540deg);}
  30%{transform: rotateY(540deg);}
  35%{transform: rotateY(720deg);}
  35%{transform: rotateY(720deg);}
  40%{transform: rotateY(900deg);}
  60%{transform: rotateY(900deg);}
  70%{transform: rotateY(1080deg);}
  100%{transform: rotateY(1080deg);}}
 
  
  @keyframes opacityPopUpLottieAnimationIntro {
    0%{opacity: 0;}
    100%{opacity: 1;}
   }