body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100%;
}
body, #root {
  min-height: 100%;
}

::-webkit-scrollbar {
  background-color: white;
}


/*COMPONENTS's ANIMATIONS*/

@keyframes logoDash {
  0%{ left: 50%; }
  100%{ left: 0%; }
}

@-webkit-keyframes logoDash {
  0%{ left: 50%; }
  100%{ left: 0%; }
}
@keyframes logoDashReverse {
  0%{ left: 0%; }
  100%{ left: 50%; }
}

@keyframes logoDashReverse {
  0%{ left: 0%; }
  100%{ left: 50%; }
}

@keyframes floatDown {
  0% {visibility: visible;opacity: 0; }
  40% {visibility: visible;opacity: 0; top:-20px}
  100% {visibility: visible; opacity: 1;top:0px;}
}
@-webkit-keyframes floatDown {
  0% {visibility: visible;opacity: 0; }
  40% {visibility: visible;opacity: 0; top:-20px}
  100% {visibility: visible; opacity: 1;top:0px;}
}
@keyframes floatUp {
  0% {visibility: visible; opacity: 1;top:0px}
  40% {visibility: hidden;opacity: 0;top:-20px}
  100% {visibility: hidden;opacity: 0;}
}
@-webkit-keyframes floatUp {
  0% {visibility: visible; opacity: 1;top:0px}
  40% {visibility: hidden;opacity: 0;top:-20px}
  100% {visibility: hidden;opacity: 0;}
}
@keyframes bubble {
 0%{left:0%; }
 25%{left:-3%;}
 50%{left:5%;}
 75%{left:-3%;}
 100%{left:0%;}  
}
@-webkit-keyframes bubble {
  0%{left:0%; }
  25%{left:-3%;}
  50%{left:5%;}
  75%{left:-3%;}
  100%{left:0%;}   
}