body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100%;
}
body, #root {
  min-height: 100%;
}

::-webkit-scrollbar {
  background-color: white;
}
.scrollable{
  overflow-x: hidden;
  overflow-y: auto; 
}

/*
$posicion: absolute;
$top: 1cm;
#prueba{
  position: $posicion;
  top: $top+0cm;
  background-color: white;
}*/


/*COMPONENTS's ANIMATIONS ACCORDING DEVICE VIEWPORT */
@media all and (max-width: 1500px) {
  .logoDash{
    animation: logoDashPC 1s forwards;} 
    .logoDashReverse {
      animation: logoDashReversePC 1s forwards;}
  .btn-container{
      left: 40%;
    }
  .input-cases-container{
    position: absolute;
    top: 30%;
    left: 40%;
  }
  .floatDown{

      animation: floatDownPC 1.5s forwards;
    }
  .backArrow{
    animation: backArrow 2s forwards;
  }
  .backArrow:hover, .backArrow:active{
    color: #1FBF2D;
  }

  .backArrowReverse{

    animation: backArrowReverse 1s forwards;
  }

}

@media all and (max-width: 800px) {

  .logoDash {
    animation: logoDashPhone 1s forwards;}
  .logoDashReverse {
      animation: logoDashReversePhone 1s forwards;}
  .floatDown{
      animation: floatDownPhone 1.5s forwards;
    }
  .input-cases-container{
    position: absolute;
    top: 40%;
    left: 20%;
    }
}

@keyframes logoDashPC {
  0%{ right: 0%; }
  100%{ right: 35%; }
}

@-webkit-keyframes logoDashPC {
  0%{ right: 0%; }
  100%{ right: 35%; }
}

@keyframes logoDashPhone {
  0%{ bottom: 0vh; }
  100%{ bottom: 25vh;}
}

@-webkit-keyframes logoDashPhone {
  0%{ bottom: 0vh; }
  100%{ bottom: 25vh;}
}


@keyframes logoDashReversePC {
  0%{ right: 35%; }
  100%{ right: 0%; }
}

@keyframes logoDashReversePC {
  0%{ right: 35%; }
  100%{ right: 0%; }
}


@keyframes floatDownPC {
  0% {visibility: visible;opacity: 0; }
  40% {visibility: visible;opacity: 0; top:-20px}
  100% {visibility: visible; opacity: 1;top:0px;}
}
@-webkit-keyframes floatDownPC {
  0% {visibility: visible;opacity: 0; }
  40% {visibility: visible;opacity: 0; top:-20px}
  100% {visibility: visible; opacity: 1;top:0px;}
}

@keyframes floatDownPhone {
  0% {visibility: visible;opacity: 0; left: 20%;}
  40% {visibility: visible;opacity: 0; top:40px}
  100% {visibility: visible; opacity: 1;top:60px; left: 20%;}
}
@-webkit-keyframes floatDownPhone {
  0% {visibility: visible;opacity: 0; left: 20%;}
  40% {visibility: visible;opacity: 0; top:40px}
  100% {visibility: visible; opacity: 1;top:60px; left: 20%;}
}
@keyframes floatUp {
  0% {visibility: visible; opacity: 1;top:0px}
  40% {visibility: hidden;opacity: 0;top:-20px}
  100% {visibility: hidden;opacity: 0;}
}
@-webkit-keyframes floatUp {
  0% {visibility: visible; opacity: 1;top:0px}
  40% {visibility: hidden;opacity: 0;top:-20px}
  100% {visibility: hidden;opacity: 0;}
}

@keyframes backArrow {
  0%{ opacity: 0; transform: rotate(90deg);  }
  70%{ opacity: 0; transform: rotate(90deg); }
  100%{ opacity:1; transform: rotate(0deg); }
}

@-webkit-keyframes backArrow {
  0%{ opacity: 0; transform: rotate(90deg);  }
  70%{ opacity: 0; transform: rotate(90deg); }
  100%{ opacity:1; transform: rotate(0deg); }
}

@keyframes backArrowReverse {
  0%{ opacity: 1; transform: rotate(0deg);  }
  70%{ opacity: 1; transform: rotate(90deg); }
  100%{ opacity:0; transform: rotate(90deg); }
}

@-webkit-keyframes backArrowReverse {
  0%{ opacity: 1; transform: rotate(0deg);  }
  70%{ opacity: 1; transform: rotate(90deg); }
  100%{ opacity:0; transform: rotate(90deg); }
}

@keyframes whyUsRotation {// esta es la animacion de  al WhyUS 
 0%{transform: rotateY(0);}
 10%{transform: rotateY(180deg);}
 20%{transform: rotateY(180deg);}
 25%{transform: rotateY(360deg);}
 25%{transform: rotateY(360deg);}
 30%{transform: rotateY(540deg);}
 30%{transform: rotateY(540deg);}
 35%{transform: rotateY(720deg);}
 35%{transform: rotateY(720deg);}
 40%{transform: rotateY(900deg);}
 60%{transform: rotateY(900deg);}
 70%{transform: rotateY(1080deg);}
 100%{transform: rotateY(1080deg);}
}
@-webkit-keyframes whyUsRotation {
  0%{transform: rotateY(0);}
  10%{transform: rotateY(180deg);}
  20%{transform: rotateY(180deg);}
  25%{transform: rotateY(360deg);}
  25%{transform: rotateY(360deg);}
  30%{transform: rotateY(540deg);}
  30%{transform: rotateY(540deg);}
  35%{transform: rotateY(720deg);}
  35%{transform: rotateY(720deg);}
  40%{transform: rotateY(900deg);}
  60%{transform: rotateY(900deg);}
  70%{transform: rotateY(1080deg);}
  100%{transform: rotateY(1080deg);}}
 
