body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100%;
}
body, #root {
  min-height: 100%;
}

::-webkit-scrollbar {
  background-color: white;
}
.scrollable{
  overflow-x: hidden;
  overflow-y: auto; 
}
/*COMPONENTS's ANIMATIONS*/

@keyframes logoDash {
  0%{ left: 50%; }
  100%{ left: 0%; }
}

@-webkit-keyframes logoDash {
  0%{ left: 50%; }
  100%{ left: 0%; }
}
@keyframes logoDashReverse {
  0%{ left: 0%; }
  100%{ left: 50%; }
}

@keyframes logoDashReverse {
  0%{ left: 0%; }
  100%{ left: 50%; }
}

@keyframes floatDown {
  0% {visibility: visible;opacity: 0; }
  40% {visibility: visible;opacity: 0; top:-20px}
  100% {visibility: visible; opacity: 1;top:0px;}
}
@-webkit-keyframes floatDown {
  0% {visibility: visible;opacity: 0; }
  40% {visibility: visible;opacity: 0; top:-20px}
  100% {visibility: visible; opacity: 1;top:0px;}
}
@keyframes floatUp {
  0% {visibility: visible; opacity: 1;top:0px}
  40% {visibility: hidden;opacity: 0;top:-20px}
  100% {visibility: hidden;opacity: 0;}
}
@-webkit-keyframes floatUp {
  0% {visibility: visible; opacity: 1;top:0px}
  40% {visibility: hidden;opacity: 0;top:-20px}
  100% {visibility: hidden;opacity: 0;}
}
@keyframes bubble1 {
 0%{position: fixed; top: 0%; left:26%}
 25%{top: -1%; left:25%}
 37%{top: -1.5%; left:25%}
 50%{top: -2%; left:26%}
 75%{top: 0%; left:27%}
 100%{position: fixed;  top: 0%; left:26%}  
}
@-webkit-keyframes bubble1 {
  0%{position: fixed; top: 0%; left:27%}
  25%{top: -1%; left:26%}
  37%{top: -1.5%; left:26%}
  50%{top: -2%; left:27%}
  75%{top: 0%; left:28%}
  100%{position: fixed;  top: 0%; left:27%}  
  }

@keyframes bubble2 {
  0%{position: fixed; top: 30%; left:25%}
  25%{top: 29%; left:26%}
  37%{top: 30%; left:25%}
  50%{top: 31%; left:24%}
  65%{top: 30.5%; left:24%}
  75%{top: 30%; left:23%}
  100%{position: fixed; top: 30%; left:25%}  
  }
 @-webkit-keyframes bubble2 {
  0%{position: fixed; top: 30%; left:25%}
  25%{left:26%}
  37%{left:25%}
  50%{top: 31%; left:25%}
  65%{left:25%}
  75%{left:24%}
  100%{position: fixed; top: 30%; left:25%}     
 }

 @keyframes bubble3 {
  0%{position: fixed; top: 10%; left:50%}
  25%{top: 9.5%;left:51%}
  50%{top: 9%; left:51%}
  75%{top: 9.5%;left:50%}
  100%{position: fixed; top: 10%; left:50%}  
 }
 @-webkit-keyframes bubble3 {
  0%{position: fixed; top: 10%; left:50%}
  25%{top: 9.5%;left:51%}
  50%{top: 9%; left:51%}
  75%{top: 9.5%;left:50%}
  100%{position: fixed; top: 10%; left:50%}   
 }

 @keyframes littleBubble1 {
  0%{position: fixed; top: 10%; left:50%}
  25%{left:51%}
  50%{top: 9%; left:51%}
  75%{left:50%}
  100%{position: fixed; top: 10%; left:50%}  
 }
 @-webkit-keyframes littleBubble1 {
  0%{position: fixed; top: 10%; left:50%}
  25%{left:51%}
  50%{top: 9%; left:51%}
  75%{left:50%}
  100%{position: fixed; top: 10%; left:50%}    
 }

 @keyframes littleBubble2 {
  0%{position: fixed; top: 46%; left:45%}
  25%{left:46%}
  50%{top: 44%; left:46%}
  75%{left:46%}
  100%{position: fixed; top: 46%; left:45%}  
 }
 @-webkit-keyframes littleBubble2 {
  0%{position: fixed; top: 51%; left:50%}
  25%{left:51%}
  50%{top: 49%; left:51%}
  75%{left:51%}
  100%{position: fixed; top: 51%; left:50%}   
}

 
@keyframes littleBubble3 {
  0%{position: fixed; top: 25%; left:30%}
  25%{left:31%}
  50%{top: 24%; left:32%}
  75%{left:31%}
  100%{position: fixed; top: 25%; left:30%}  
 }
 @-webkit-keyframes littleBubble3 {
  0%{position: fixed; top: 25%; left:30%}
  25%{left:31%}
  50%{top: 24%; left:32%}
  75%{left:31%}
  100%{position: fixed; top: 25%; left:30%} 
  }